/* css styles */

a:hover {
  color: firebrick;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid indianred;
    color: indianred !important;
}

.sidebar nav[role=doc-toc] ul>li>a:hover, .sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color: indianred !important;
}

h3 {
  font-weight: 500;
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
  margin-top: .2em;
}

strong {
  font-weight: 500;
  opacity: .9em;
}

.indent {
  margin-left: 1.2em;
}

ul {
  padding-left: 1em;
}

.about_section {
  border-left-style: solid;
  border-left-width: .5em;
  border-color: #e8e8e6;
  padding-left: 1em;
  
}

.about_section p {
  margin-bottom: .2rem;
}

.about_section ul {
  margin-top: 0rem;
  margin-bottom: .2rem;;
}

.references {
  padding-left: 1.5em;
  text-indent: -1.5em;
}
